# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# web/
web/materialize.css
web/materialize.css.map
web/styles.css
web/styles.css.map
web/materialize/

# generated resources
resource/_assets/
