$primary-color: #5c6bc0;

@import "materialize/materialize";

.pagination {

  li {
    height: unset;
  }
}

.book-ribbon {
  width: 100%;
  height: 40vh;
  background-color: $primary-color;
  flex-shrink: 0;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.book-toolbar {
  @extend .navbar-fixed;
}

.toolbar-actions {
  @extend .hide-on-small-only;
}

.toolbar-group {
  @extend .nav-wrapper;
}

.page-title {
  @extend .brand-logo;
}

.book-summary {
  @extend .sidenav;
}

.summary {
  @extend .collection;
  @extend .with-header;
}

.book-body {
  font-size: 1.4em;
}

.body-inner {
  position: relative;
}

.page-wrapper {
  @extend .container;
  padding-top: 10px;
  outline: 0;
}

.page-inner {
  @extend .card-panel;
  margin-top: 0px;
  position: relative;
}

.markdown-section {
  padding: 40px 0px;

  @media #{$medium-and-up} {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media #{$large-and-up} {
    padding-left: 56px;
    padding-right: 56px;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
  }

  h3 {
    margin-top: 48px;
  }

  > p {
    text-indent: 2em;
  }
}

.paging-group {
  @extend .hide-on-med-and-up;
  @extend .pagination;

  li {
    i.large {
      font-size: 5rem;
    }
  }
}

.glossary-item {
  cursor: pointer;
  color: dodgerblue;
  display: inline-block;
  text-indent: 0;
}

.glossary-detail {
  visibility: hidden;
  max-width: 400px !important;
  width: max-content !important;
  background-color: white;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 0;
  z-index: 1;
}

.chapter {
  @extend .truncate;
}

a.lang-item {
  @extend .z-depth-1;
  @extend .hoverable;

  display: flex;
  line-height: 64px;
  width: 100%;
  padding-left: 20px;
  margin: 16px 0px;
  color: $primary-color;
}
