

.demo-main {
  flex-shrink: 0;
  font-size: 1.4em;
}

.demo-content {
  padding: 40px 0px;
}

@media only screen and (min-width: 601px) {
  .demo-content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 993px) {
  .demo-content {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.demo-content h3 {
  margin-top: 48px;
}

.pagination li i.large {
  font-size: 5rem;
}

.glossary-item {
  cursor: pointer;
  color: dodgerblue;
  display: inline-block;
}

.glossary-detail {
  visibility: hidden;
  max-width: 400px !important;
  width: max-content !important;
  background-color: white;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

  position: absolute;
  z-index: 1;
}

.stack {
  position: relative;
}
.stack-child {
  position: absolute;
  top: 0;
}

.page-inner {
  margin-top: 0px;
  position: relative;
}
.page-wrapper {
  padding-top: 10px;
  outline: 0;
}
